@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img {
    background-image: url('/images/b.jpg');
}

.projects-img {
    background-image: url('/images/d.jpg');
}

.contact-img {
    background-image: url('/images/c.jpg');
}

.login-img {
    background-image: url('/images/a.jpg');
}

.profile-img {
    background-image: url('/images/e.jpg');
}

.item-img {
    background-image: url('/images/v.jpg');
}

.add_item-img {
    background-image: url('/images/g.jpg');
}

.edit_item-img {
    background-image: url('/images/j.jpg');
}





